<ul class="nav sidebar-menu">
    <!--权限管理-->
    <li>
        <a href="">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text"> 权限管理 </span>
        </a>
    </li>
    <!--商品管理-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-shopping-cart"></i>
            <span class="menu-text"> 商品管理 </span>
            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li>
                <a href="">
                    <span class="menu-text">商品列表</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="menu-text">添加商品</span>
                </a>
            </li>
            <li>
                <a href="{:url('brand/index')}">
                    <span class="menu-text">商品品牌</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="menu-text">商品分类</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="menu-text">商品回收站</span>
                </a>
            </li>
        </ul>
    </li>
    <!--促销管理-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa  fa-money"></i>
            <span class="menu-text"> 促销管理 </span>
            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li>
                <a href="">
                    <span class="menu-text">团购活动</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="menu-text">积分商城</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="menu-text">优惠卷</span>
                </a>
            </li>
        </ul>
    </li>
    <!--订单管理-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-gavel"></i>
            <span class="menu-text"> 订单管理 </span>
            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li>
                <a href="">
                    <span class="menu-text">订单列表</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="menu-text">订单查询</span>
                </a>
            </li>
        </ul>
    </li>
    <!--会员管理-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-users"></i>
            <span class="menu-text"> 会员管理 </span>
            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li>
                <a href="">
                    <span class="menu-text">会员列表</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="menu-text">会员等级</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="menu-text">会员留言</span>
                </a>
            </li>
        </ul>
    </li>
    <!--数据库管理-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-database"></i>
            <span class="menu-text"> 数据库管理 </span>
            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li>
                <a href="">
                    <span class="menu-text">数据备份</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="menu-text">数据表优化</span>
                </a>
            </li>
        </ul>
    </li>
    <!--短信管理-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-envelope"></i>
            <span class="menu-text"> 短信管理 </span>
            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li>
                <a href="">
                    <span class="menu-text">发送短信</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="menu-text">短信签名</span>
                </a>
            </li>
        </ul>
    </li>
    <!--文章模块-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-file-text"></i>
            <span class="menu-text"> 文章模块 </span>
            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li>
                <a href="{:url('cate/index')}">
                    <span class="menu-text">文章分类</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="menu-text">文章管理</span>
                </a>
            </li>
        </ul>
    </li>
    <!--系统设置-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa  fa-cogs"></i>
            <span class="menu-text"> 系统设置 </span>
            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li>
                <a href="">
                    <span class="menu-text">商店设置</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="menu-text">会员注册项设置</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="menu-text">致富方式设置</span>
                </a>
            </li>
        </ul>
    </li>
</ul>